<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="any.xxx.anypeer">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:name="any.xxx.anypeer.app.AppAppcation"
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Design.Light.NoActionBar">
        <activity
            android:name="any.xxx.anypeer.moudle.main.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="any.xxx.anypeer.zxing.CaptureActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="any.xxx.anypeer.moudle.chat.ChatActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity android:name="any.xxx.anypeer.moudle.init.SplashActivity"
            android:theme="@style/Theme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="any.xxx.anypeer.moudle.init.InitActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="any.xxx.anypeer.moudle.mine.MineActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="any.xxx.anypeer.moudle.barcode.BarCodeActivity"
            android:screenOrientation="portrait" />

        <service
            android:name="any.xxx.anypeer.moudle.chat.MessageService"
            android:enabled="true" />

        <activity
            android:name="any.xxx.anypeer.moudle.friend.FriendDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="any.xxx.anypeer.moudle.chat.ContextMenuActivity"
            android:theme="@style/MyDialogStyle" />
        <activity android:name="any.xxx.anypeer.moudle.common.PhotoActivity" />
        <activity android:name="any.xxx.anypeer.moudle.wallet.WalletActivity" />
        <activity android:name="any.xxx.anypeer.moudle.wallet.BackupActivity" />
        <activity android:name="any.xxx.anypeer.moudle.chat.TransferAccountsActivity" />
        <activity android:name="any.xxx.anypeer.moudle.chat.VideoActivity" />
        <activity android:name="any.xxx.anypeer.moudle.mine.SettingActivity" />
        <activity android:name="any.xxx.anypeer.moudle.main.AddFriendActivity"/>
        <activity android:name=".moudle.chat.SendSmallVideoActivity" />
        <activity android:name=".moudle.chat.VideoPlayerActivity" />
        <activity android:name="com.mabeijianxi.smallvideorecord2.MediaRecorderActivity" />
    </application>

</manifest>